.action-form {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    padding-top: 20px;
    width: 500px;
}

.form-select {
    margin-right: 10px;
}



.add-button {
    height: 55px;
}